.App {
  
}
.about {
    background: url("./assets/background/empire1.png") center;
    background-size: contain
}
.routing {
    min-height: 500px;
}
.history {
    background-color: skyblue;
}
.sects {
    margin-top: 2em !important;
}
.footer{
    margin-top: 2em;
    border: solid 1px;
}