.App {
    position: fixed;
    background: url("./assets/background/empire1.png") no-repeat top center;
    overflow: scroll;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
}
.App::-webkit-scrollbar {
    height: 0;
    width: 0;
  }
  
.about {
    background-size: contain
}
.routing {
    min-height: 500px;
}
.history {
    background-color: skyblue;
}
.sects {
    margin-top: 2em !important;
}
.footer{
    margin-top: 2em;
}